.yay-married {
  text-align: center;
  background-color: #e79d79;
  color: #2c3e50;
}

.yay-married > img {
  width: 100%;
  height: auto;
}

.caileighwhyyyyyyy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #2c3e50;
  text-align: left;
}

.caileighwhyyyyyyy > div {
  flex: 1 1 0px;
  padding: 5%;
  min-width: 350px;
}

.when {
  background-color: #e79d79;
  color: #2c3e50;

}

h1 {
  font-family: 'Prata';
  color: #2c3e50;
}

.where {
  background-color: #e79d79;
color: #2c3e50;
}

.hotels {
  text-align: center;
  color: #2c3e50;
  background-color: #f9e9bd;
}

.registry {
  text-align: center;
  padding: 5%;
  background-color: #c45c39;
  color: #2c3e50;
}

.rsvp-div {
  text-align: center;
  padding: 5%;
  background-color: #f9e9bd;
  color: #2c3e50;
}

.home-again {
  text-align: center;
  padding: 5%;
  background-color: #e69757;
  color: #2c3e50;
  font-family: "Abril-Fatface";
}

.home-again>a {
  font-family: "Abril-Fatface";
  text-decoration: none;
  font-weight: Bold;
}


#rsvp {
  font-size: 22pt;
}
