.nice-words {
  background-color: rgba(30,40,63,255);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20%;
  padding-bottom: 20%;
}

h1 {
  font-family: 'Prata';
  color: rgba(183,101,69,255);
}

.caileighwhyyyyyyy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(30,40,63,255);
}

.caileighwhyyyyyyy > div {
  flex: 1 1 0px;
  padding: 5%;
  min-width: 350px;
}

.caileighwhyyyyyyy > h1 {
  color: rgb(229, 56, 140);
}

.registry {
  margin-top: 15%;
  margin-bottom: 15%;
}

.hotels {
  margin-bottom: 20px;
}
