body {
  margin: 0px;
  overflow-x: hidden;
}

a {
  position: relative;
  font-size: 20pt;
  z-index: 2;
  color: #2c3e50;
}

a:hover {
  border-radius: 2px;
  color: #ebab4b;
}

h1 {
  font-size: 26pt;
}

p {
  font-size: 14pt;
}

body * {
  font-family: 'Helvetica';
}

button {
  position: relative;
  z-index: 2;
  background-color: #f2a665;
  color: #743613;
  border: none;
  border-color: none;
  border-radius: 2px;
  font-size: 12pt;
  padding: 6px;
  transition-duration: .6s;
}

button:hover {
  transition-duration: .6s;
  padding: 12px;
  background-color: #da6429;
  color: #f9e9bd;
}
