.navigation {
  display: flex;
  flex-flow: row wrap;
  z-index: 7000;
  position: relative;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  background-color: rgb(180, 223, 220);
  margin: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.navigation > a {
  text-align: center;
  padding: 10px;
  color: rgb(229, 56, 140);
}
