.top {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  background-image: url("cailkelley.png");
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 50%;
}

.top > p {
  text-align: center;
  color: rgba(29,39,62,255);
  text-shadow: 2px 2px 5px #f8ba89;
}

#date {
  font-size: 14pt;
  padding-top: 5%;
  margin-bottom: 0px;
}

#name {
  font-size: 38pt;
  margin-top: 30px;
  margin-bottom: 30px;
}

#married {
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 50px;
}

#topimage {
  position: relative;
  width: 100%;
  z-index: -100;
}

.top * {
  font-family: 'Prata';
}
